<div class="min-h-screen bg-neutral-600 ">
  <div class="sticky top-0 z-20">
      <app-header>
        <p class="text-crimson font-serif" rightValue>Cards</p>
      </app-header>
  </div>

  <div class="container mx-auto">
      <div >
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 py-6"
          *ngIf="characters$ | async as characters "
        >
          <app-character
            *ngFor="let character of characters.results"
            [character]="character"
          ></app-character>
        </div>


      </div>
  </div>
</div>





