<div class="h-screen w-screen bg-gray-100 flex items-center">
  <div class="container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700 ml-40">
    <div class="max-w-md">
      <div class="text-5xl font-dark font-bold">404</div>
      <p
        class="text-2xl md:text-3xl font-light leading-normal"
      >Sorry we couldn't find this page. </p>
      <p class="mb-8">But dont worry, you can find plenty of other things on our homepage.</p>

      <button routerLink="/"
              class="btn">
        back to homepage
      </button>
    </div>
    <div class="max-w-lg">
      <img src="https://www.kindpng.com/picc/m/108-1083356_rick-and-morty-portal-clipart-rick-and-morty.png" alt="">
    </div>
  </div>
</div>
