<div class="py-4  transition-colors duration-200 ease-in-out">
  <div class="container flex justify-between">
    <button class="btn disabled:opacity-70 disabled:cursor-not-allowed" [disabled]="currentId === 1"
            (click)="prevCharacter()">Prev
    </button>
    <button class="btn" routerLink="/">Back to all</button>
    <button class="btn disabled:opacity-70 disabled:cursor-not-allowed" [disabled]="currentId === lastId"
            (click)="nextCharacter()">Next
    </button>
  </div>
</div>


